h1 {
    color: blue;
}

.questions-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questions-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.questions-element-container {
    max-width: 25%;
    text-align: center;
}